* {
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    color: #723D46;
}
a, a:visited {
    color: white;
}
a:active {
    color: #FFE1A8;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5 {
    color: #472D30;
    font-family: 'Philosopher', sans-serif;
}
h1 {
    clear: right;
    font-size: 2em;
    display: block;
    text-align: left;
    padding: 0.25em 0;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.4em;

}
h4 {
    font-size: 1.1em;
}
h5 {
    font-size: 1em;
}
.logo {
    float: none;
    margin: 10px 0px;
    max-height: 30px;
}


@media (min-width: 770px) {
    .logo {
        float: left;
    }

}
