img {
  margin: 2em;
}

.image-container {
  display: block;
  position: relative;
  overflow: visible;
  text-align: center;
  height: 100%;
}
.image {
  position: relative;
  margin: auto;
  width: 100%;
}
.text {
  left: 0;
  top: 0;
  background: rgba(255,255,255,0.5);
  position: absolute;
  text-align: left;
  width: 100%;
  height: 100%;
  color: green;
}

h2 {
  color: #006400;
  font-weight:bold;
  font-weight: 8000;
  display: inline-block;
  float: left;
  padding: 1em;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 769px) {
  .image-container {
    float: left;
    width: 33.333%;
  }
}

header {
  width: 100%;
  height: 2em;
  position: fixed;
  background-color: #ff5050;
  display: inline-block;
}

h1 {
  color: #cfcfcf;
  font-weight:bold;
  font-weight: 600;
  display: inline-block;
  float: right;
  padding: 1em;
}


  header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #ff5050;
    display: inline-block;
    z-index: 500;
    top: 0;
  }

#nav-menu-container {
  float:right;
  width: 100%;
}

  #nav-bar-button {
    display: inline-block;
    width: 6em;
    float: left;
    height: 50px;
    background-color: transparent;
  }

  /*#title-text {
    display:inline-block;
    float: left;
    width: 25em;
    margin: 1em;
    text-align:center;
  }*/

ul.nav-menu {
  clear: left;
  display: none;
}

  .nav-menu li {
    float: none;
    padding: 1em;
    text-align: center;
    background-color: #ccccff;
  }

  #content {
   margin-top: 50px;
  }


@media (min-width: 770px) {
  header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #ff5050;
    display: inline-block;

  }

  h1 {
    float: left;
    display: inline-block;
  }

  #nav-menu-container {
    width: 60%;
  }

  #nav-bar-button {
    display: inline-block;
    width: 6em;
    float: left;
    height: 50px;
    display: none;
  }

  #title-text {
    display:inline-block;
    float: left;
    width: 25em;
    margin: 1em;
    text-align:center;
  }

  ul.nav-menu {
    display: inline-block;
    float: right;
    clear: left;
  }

  .nav-menu li {
    display: inline-block;
    background-color: #ff5050;
    float: right;
    margin: 0 1em 0 1em;
    text-align:center;
  }

  #content {
   margin-top: 50px;
  }
}
