header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #ff5050;
    display: inline-block;
}

#nav-bar-button {
    display: inline-block;
    width: 20%;
    float: left;
    height: 50px;
    background-color: transparent;
}

#nav-menu-container {
    float:right;
    width: 100%;
}

ul.nav-menu {
    clear: left;
    display: none;
}

.nav-menu li {
    float: none;
    padding: 1em;
    text-align: center;
    background-color: #723d46;
}

#content {
    margin-top: 50px;
}

/* Thank you Page */
.drop {
  padding-top: 60px;
  padding-bottom: 10px;
}

.instagram {
    padding-bottom: 10px;
    width: 25%;
    float: left;
}

@media (min-width: 770px) {
    /* Navigation & Header */
    header {
        width: 100%;
        height: 50px;
        position: fixed;
        background-color: #e26d5c;
        display: inline-block;
    }
    #nav-menu-container {
        width: 80%;
    }
    #nav-bar-button {
        display: inline-block;
        float: left;
        height: 50px;
        display: none;
    }
/*
    #title-text {
        display:inline-block;
        float: left;
        width: 25em;
        margin: 1em;
        text-align:center;
    }
*/

    ul.nav-menu {
        display: inline-block;
        float: right;
        clear: left;
    }

    .nav-menu li {
        display: inline-block;
        background-color: #ff5050;
        float: right;
        margin: 0 1em;
        text-align:center;
    }

    #content {
        margin-top: 50px;
    }

}
